.contact {
    margin-top: auto;
    padding: 18rem 15%;

    .inner-block {
        .title {
            padding-bottom: 2.5rem;
        }
    }

    .form-block {
        margin-top: 2.5rem;
        width: 100%;
        max-width: 61rem;

        .form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-flow: row;
            gap: 2.5rem;

            &__input {
                font-size: 1.8rem;
                line-height: 140%;
                color: $cw-heading;
                background-color: transparent;
                border: none;
                outline: none;
                border-bottom: 1px solid $cw-form-border;
                transition: border-color .3s ease;
                padding: 1.5rem;
                padding-left: 0;
                font-family: $ff-2, sans-serif;

                &::placeholder {
                    color: lighten($cw-heading, 55%);
                }

                &:focus {
                    border-color: $cw-heading;
                }
            }

            textarea {
                grid-column: 1 / 3;
                min-width: 100%;
                max-width: 100%;
                min-height: 12rem;
                max-height: 40rem;
                margin-bottom: 1rem;
            }
        }
    }
}