.transition {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $cw-heading;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        text-align: left;
        color: $cw-white;
        width: fit-content;

    }

    &__background {

        &--3,
        &--4,
        &--5,
        &--6 {
            h2 {
                color: $cw-heading;
            }
        }

        &--3 {
            background-color: #f2d0ad;
        }

        &--4 {
            background-color: #c8d1b6;
        }

        &--5 {
            background-color: #e3f2f7;
        }

        &--6 {
            background-color: #e8d7c5;
        }
    }
}