.transition {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $cw-heading;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;


    h1 {
        text-align: left;
        color: #fff;
        font-size: 6rem;
        width: min-content;
        text-decoration: underline;
    }
}