.section-top {
    padding: 13rem 15% 6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .portrait-block {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 4rem;
        width: 100%;

        .portrait {
            max-width: 40%;
            max-height: 80rem;
            object-fit: cover;
        }

        .heading-portrait {
            margin-bottom: 2.5rem;
            position: absolute;
            font-size: 16vw;
            color: #dedede;
        }
    }
}

.section-content {
    padding: 0 15% 8rem;

    .grid-subcategory {
        display: grid;
        grid-template-columns: 8vw minmax(auto, 78rem);
        grid-template-rows: auto;
        gap: 5rem;
        width: 100%;

        .text-subcategory {
            margin-top: .4rem;
            font-size: 1.5rem;
            line-height: 140%;
            color: lighten($cw-heading, 50%);
        }

        .content-subcategory {
            margin-bottom: 3rem;

            .skills {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 2rem;

                .skill {
                    li {
                        margin-bottom: 2rem;
                        color: $cw-heading;
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
}